<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a routerLink="/home" class="navbar-brand">
            Online TODO</a></div>

        <ul class="navbar-nav">
            <li><a  routerLink="/home" class="nav-link">Home</a></li>
            <li><a  routerLink="/todo-list" class="nav-link">Todo List</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a  routerLink="/login" class="nav-link">Login</a></li>
                <li><a  routerLink="/signup" class="nav-link">Sign Up</a></li>
                <!-- <li><span class="nav-link"></span></li> -->
                <li><a  routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>
<!-- *ngIf="authenticationService.isUserLoggedIn() -->